body {
    font-family: Arial;
    background-color: rgb(189, 219, 245);
    padding: 40px 0;
}
h2 {
    font-size: 28px;
}
h1 {
    font-size: 36px;
}
span{
    color: gray;
}
img {
    width: 140px;
     height:180px;
}
section, header {
    padding: 10px 60px 20px 60px;
    background-color: aliceblue;
    width: 960px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
}

header li {
    margin-bottom: 15px;
}

.address-icon  {
    width: 16px;
    height: 16px;
    background-color: blue;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}