body {
    background-color: #aff6c4;
}
.main-app {
    background-color: aquamarine;
}

ul li a {
    color: rgb(15, 147, 15);
    font-weight: bold;
}

ul li ul li a {
    color: rgb(16, 173, 16);
    font-weight: normal;
}

h1, h2 {
    padding: 10px;
    color: #aff6c4;
}

h1 {
    background-color: rgb(15, 147, 15);
}

h2 {
    background-color: rgb(16, 173, 16);
}

table th, table td {
    padding: 5px 15px;
}

table th {
    background-color: rgb(16, 173, 16);
}

table td {
    text-align: center;
    border-bottom: 1px solid rgb(16, 173, 16);
}

.underline {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(16, 173, 16);
}